# QtCreator localized project file
LabTool.pro.user

# Qt Shadow Build directories (different for Qt4 and Qt5)
LabTool-build-desktop-Qt_4_*
build-LabTool-Desktop_Qt_5_*
build-LabTool-Desktop_Qt5*

# uVision output
fw/program/uVision/Internal_SRAM/
fw/program/uVision/*.dep
fw/program/uVision/firmware.uvgui.*

# ARM GCC output
*.o
fw/*.bin
fw/*.elf

# LPCXpresso output
fw/Debug/
fw/Release/
fw/*.launch

# LabTool runtime output
fw/firmware.bin.qthdr

# Misc unwanted files
*.bak

# C++ objects and libs
*.slo
*.lo
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*

# QtCreator

*.autosave

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# app executable
app/LabTool
app/LabTool.exe

# VIM
*.swp
*.swo

# gdb
.gdb_history
